<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %>
   
    <main class="catalog-main">
        <h1 class="catalogTitle">CAMPERAS</h1>
        <section class="subtitle">
            <form action="" class="buttonContainer">
                <button class="filterButton">Filtrar</button>
            </form>
        </section>
        <article class="catalogBody">

             <%- include('../partials/productFilter')  %> 

            <section class="productsSection">
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <%- include('../partials/catalogProduct')  %> 
                <!-- CAMBIAR POR FUNCION QUE RECORRA PRODUCTOS AL IMPLEMETAR ROUTES -->
            </section>
        </article>
    </main>

    <%- include('../partials/footer') %>
    
    <script src="/js/flickity.pkgd.min.js"></script>
</body>
</html>